*{
    box-sizing: border-box;
    font-size: 18px;
    font-family: Hanken Grotesk;

}
.header{
    background: url(images/bg-hero-desktop.svg);
    width: 100%;
    background-color: hsl(193, 100%, 96%);
    padding: 30px;
    background-size: cover;
    

      font-family: "Hanken Grotesk", serif;
      font-optical-sizing: auto;
      font-weight: 500;
     
    }

.try{
    float: right;
    background-color: white;
    border-radius: 30px;
    padding: 5px 30px 5px 30px ;
    box-shadow: 0px 10px 63px 27px rgba(61, 60, 60, 0.1);

}
.hero-section {
  width: 100%;
  display: flex;
  margin-top: 50px;
  padding: 30px;
}
.hero-section-content{
    margin-top: 80px;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero-section-content h1{
    font-size: larger;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero-section img{
   width: 50%;
}
.hero-section button{
    background: hsl(322, 100%, 66%);
    border-radius: 50px 50px 50px 50px ;
   border: 1px solid white;
    padding: 10px 25px 10px 25px;
    font-size: 15px;
    color: white;
}
.container{
    width: 100%;
    position: relative;
    padding-top: 10%;
    display: block;
    justify-items: center;
   
}
.card-one{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border: 1px solid transparent;
    padding: 40px 90px 40px 90px;
    border-radius: 5px;
    box-shadow: 0px 10px 63px 27px rgba(0,0,0,0.1);

    
}
.card-one img{
    width: 40%;
}
.footer-container{
    background-color: hsl(192, 100%, 9%);
    display: flex;
    justify-content: space-between;
    padding: 50px 20px 0px 20px ;
    color: white;
    
}


.footer-container a{
    display: block;
    
}
.information{
    padding: 90px;
    font-size: 10px;
    display: inline-block;
    justify-content: space-between;
}
.information-section{
    display: flex;
    width: 60%;

}
.information-section p{
   width: 500px;
   padding-left: 20px;

}
.information-section img{
    width: 20px;
    height: 25px;
    margin-top: 20px;
}

.small-card{
    position: relative;
    z-index: 2; /* green box will be above black box */
    background: rgb(254, 254, 254);
    width: 35%;
    left: 33%;
    bottom: -65px;
    height: 150px;
    display: block;
    justify-items: center;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 10px 63px 27px rgba(0,0,0,0.1);
}
.small-card button{
    width: 100%;
    background: hsl(322, 100%, 66%);
    border-radius: 50px 50px 50px 50px ;
    border: 1px solid white;
    padding: 10px 25px 10px 25px;
    font-size: 15px;
    color: white;
    margin: auto;
}
.second-information{
    width: 100%;
    display: flex;
    margin: auto;
    border: 1px solid rgb(224, 221, 221);
    margin-right: 30px;
    justify-content: space-between;
    padding-bottom: 60px;
    font-size: 12px;
}



